
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;600;800&family=JetBrains+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --accent: #0ea5e9;
    --bg: #030712;
}
body { 
    background-color: var(--bg);
    font-family: Arial, sans-serif; 
    margin:0; 
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-image: radial-gradient(circle at 50% -20%, #1e293b, #030712);
}
.header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    position: relative;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    border: 1px solid white;
    box-shadow: 0 0 15px rgba(255,255,255,0.2);
    margin: 20px 10px;
    border-radius: 20px;
    font-family: "Playfair Display", serif;
    font-size: 1rem;
    color: #ffffff;
    overflow: hidden;
    position: relative;
}

.header .Item-inheader{
    font-family: 'Plus Jakarta Sans', sans-serif;
}
.header .logo {
    width: 100px;
    height: auto;
    margin-left: 10px;
}

.header .title {
    text-align: center;
}
.header .member{
    margin-right: 10px;
}
.header .member a{
    color: #ffffff;
    font-size: 2rem;
}
.header .member a:hover{
    color: #c1c0ff;
}
.practice {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.practice .card .font{
    font-family: 'Playwrite NZ Basic', sans-serif;
}

.practice .card p{
    padding-left: 40px;
}

.practice .card h3{
    padding-left: 20px;
}
.practice-in-btn {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.font-h2 h2,h3{
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.card {
    text-align: left;
    margin-bottom: 5px;
    width: 95%;
    max-width: 700px;
    padding: 25px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(8px);
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(255,255,255,0.2);
    color: #fff;
    font-family: "Playfair Display", serif;

}
.font-h2 a{
    color: #fff;
}
.card-in-btn {
    width: 95%;
    max-width: 700px;
    padding: 25px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(8px);
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(255,255,255,0.2);
    color: #fff;
    font-family: "Playfair Display", serif;
}

.card h2 {
    text-align: left;
    margin-bottom: 5px;
}

.desc {
    text-align: center;
    font-size: 0.95rem;
    opacity: 0.9;
    margin-bottom: 20px;
}

.row {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    margin-bottom: 20px;
}

.field {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 6px;
    font-weight: bold;
}

textarea,
input {
    width: 100%;
    padding: 12px 14px;
    border-radius: 12px;
    border: none;
    outline: none;
    font-size: 1rem;
    box-sizing: border-box;
    line-height: 1.4;
    background-color: var(--bg);
    color: #fff;
    
}

/* Textarea improvements */
textarea {
    resize: none;
    min-height: 110px;
}

/* Optional: nicer focus effect */
textarea:focus,
input:focus {
    outline: 2px solid #4da3ff;
}

/* Placeholder look */
textarea::placeholder,
input::placeholder {
    color: #999;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

.btn {
    padding: 10px 25px;
    border-radius: 25px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: white;
    transition: 0.3s ease;
}

.encrypt {
    background: #2196f3;
}

.decrypt {
    background: #4caf50;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(255,255,255,0.5);

}

.card-in-btn a{
    color: #ffffff;
}
footer{
    color: #ffffff;
}

.member-link {
  color: #4da3ff;
  cursor: pointer;
  font-weight: bold;
  margin-right: 20px;
}

/* Overlay */
#overlay {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  z-index: 99998;
}

/* Popup Box */
.member-box {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000000;
  color: #ffffff;
  padding: 25px 35px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.6);
  z-index: 99999; /* TOP OF EVERYTHING */
  width: 400px;
  text-align: center;
  font-size: 2rem;
}

.member-box h3,p {
  margin-top: 0;

}

.close-btn {
  position: absolute;
  right: 12px;
  top: 10px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 18px;
}

.practice .card .img-qr {
    display: block;
    margin: 10px auto;
    max-width: 200px;
    
}

/*.member-box span{
    padding-inline: 15px;
    position: absolute;
    top: 90%;
    color: #fff;
    font-size: 15px;
    transition: all 0.3s;
    opacity: 0;
    overflow: hidden;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;number of lines to show 
            line-clamp: 1; 
    -webkit-box-orient: vertical;
}*/
.member-box .name:hover span{
    top: 58%;
    opacity: 0.9;
}